* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
}

header {
    width: 100%;
    height: 80px;
    font-size: 14px;
    font-weight: medium;
    line-height: 26px;
    letter-spacing: 0.3px;
    color:#ffffff;
    background: radial-gradient(circle at top left, #388ACD, #105389);
}

h2{
    font-size: 40px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.5px;
}
h5{
    font-size: 16px;
}


a{
    color: white;
    text-decoration: none;
}


li {
    list-style: none;
    float: left;
    margin: 33px 20px;
}

.header-logo {
    float: left;
    margin: 20px 20px 20px 120px;
}

.btn-signin {
    float: right;
    margin: 21px 120px 21px 20px;
    display: block;
    padding: 12px;
    color: white;
}

.search-bar {
    float: right;
    padding: 8px 20px;
    background-color: white;
    border-radius: 20px;
    margin: 25px 20px 25px 0;
}

.fa {
    color: #105389;
}

input {
    border: none;
    width: 160px;
}

.top-wrapper {
    width: 100%;
    height: 436px;
    background: radial-gradient(circle at top left, #388ACD, #105389);
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.container h1{
    position: absolute;
    width: 440px;
    height: 160px;
    left: 120px;
    top: 80px;
}
.container p{
    position: absolute;
    width: 317px;
    height: 52px;
    left: 135px;
    top: 226px;
}
p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 114% */

    letter-spacing: 0.3px;

    color: #FFFFFF;
    padding-top: 20px;
}

.btn-buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 20px;

    background: #FFFFFF;
    border-radius: 20px;

    position: absolute;
    width: 80px;
    height: 26px;
    left: 0px;
    top: -2px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    letter-spacing: 0.3px;
    
    color: #105389;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 345px 130px;
    text-decoration-line: none;
}

.btn-explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 20px;

    position: absolute;
    width: 104px;
    height: 36px;
    left: 255px;
    top: 345px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;

    text-decoration-line: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    letter-spacing: 0.3px;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.content-item {
    position:absolute;
    left: 878px;
    top: 80px;
    bottom: 600px
}

.contents-item {
    position:absolute;
    left: 702px;
    top: 220px;


}

























.message-wrapper {
    height: 374px;
    width: 100%;
    padding: 50px 0px;
}

.message-container {
    width: 100%;
    padding: 0 120px;
    margin: 0 auto;
}

.testi {
    width: 75%;
}

.testi h2 {
    font-size: 40px;
    letter-spacing: 0.3px;
    color: #333333;
}

.testi h4 {
    color:#333333;
    font-size: 18px;
    margin-top: 32px;
    width: 35%;
    letter-spacing: 0.3px;
}

.testi span {
    font-weight: normal;
    color: #333333;
}

.name-cust {
    color: #333333;
    padding-top: 20px;
}

.name-cust img{
    float: left;
    padding-right: 10px;
}

.name-cust p {
    font-weight: bold;
    color: #333333;
    line-height: 5px;
}

.offer {
    text-align: center;
    width: 100%;
}

.offer p {
    width: 100%;
    color: #333333;
    text-align: center;
}

.signup input {
    border-radius: 25px;
    text-align: center;
    border: 1px solid #333333;
}

.signup #email {
    width: 225px;
    height: 30px;
}

.signup #submit {
    width: 90px;
    height: 30px;
    margin-left: 4px;
    background-color: #105389;
    color: white;
    transition: all 0.5s;
}

.signup #submit:hover {
    background-color: rgba(56, 138, 205, 1);
}

footer{
    height: 451px;
    background: radial-gradient(100% 805.5% at 100% 100%, #105389 0%, #388ACD 100%)
}
.footer-logo{
    padding-top: 80px;
    padding-left: 120px;
}
.footer-logo-icon{
    float:left;
    padding-right:20px;
}
.footer-logo-name{
    color: white;
    padding-top: 10px;
}

.footer-right{
    float: right;
    padding-right: 120px;
    margin-top: -50px;
}

.footer-list-1{
    float:right;
    padding-left: 100px;
    font-size: 12px;
    
}
.footer-list-1 li{
    margin-left: 20px;
}
.footer-list-1 span{
    color: white;
    font-size: 30px ;
}

.footer-list-2{
    color: white;
    float: right;
    padding-left: 100px;
    font-size:12px
}
.footer-list-2 li{
    float: none;
    margin-bottom: 8px;
}

.footer-list-3{
    color: white;
    float: right;
    padding-left: 100px;
    font-size: 12px;
}
.footer-list-3 li{
    float: none;
    margin-bottom: 8px;
}

.footer-bottom{
    width: 100%;
    height: 42px;
    color: white;  
    text-align: center; 
    padding-top: 225px;
}
