* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
}

header {
    width: 100%;
    height: 80px;
    font-size: 14px;
    font-weight: medium;
    line-height: 26px;
    letter-spacing: 0.3px;
    color:#ffffff;
    background: radial-gradient(circle at top left, #388ACD, #105389);
}

li {
    list-style: none;
    float: left;
    margin: 33px 20px;
}

.header-logo {
    float: left;
    margin: 20px 20px 20px 120px;
}

.btn-signin {
    float: right;
    margin: 21px 120px 21px 20px;
    display: block;
    padding: 12px;
    color: white;
}

.search-bar {
    float: right;
    padding: 8px 20px;
    background-color: white;
    border-radius: 20px;
    margin: 25px 20px 25px 0;
}

.fa {
    color: #105389;
}

input {
    border: none;
    width: 160px;
}

footer{
    width: 1280px;
    height: 452px;
    background-image: radial-gradient(100% 805.5% at 100% 100%, #105389 0%, #388ACD 100%);
}

.logo{
    float: left;
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 20px;
}

.logo-name {
    color: white;
    float: left;
    padding-top: 90px;
}

.footer-list-1{
    float: right;
    padding-top: 80px;
    padding-right: 90px;
}

.footer-list-1 li{
    float:left;
    padding-right: 10px;
}
.footer-list-2{
    float: right;
    padding-top: 80px;
    padding-right: 70px;
}
.footer-list-3{
    float: right;
    padding-top: 80px;
    padding-right: 70px;
}
.fab{
    font-size: 24px;
}
.footer-bottom{
    position: absolute;
    width: 350px;
    height: 42px;
    left: 470px;
    top: 360px;
    text-align: center;
    color: white;
}

.footer-bottom p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
}
